In [1]:
# db 연결
import pymysql
mydb = pymysql.connect(
    host='localhost',
    port=3307,
    user='root',
    passwd='airscope',
    db='flight',
    charset='utf8',
    autocommit=True)

In [1]:
import import_ipynb
import pandas as pd
from spelling_corrector import _correction
import _get_intent
import _get_tag
import _get_view

importing Jupyter notebook from spelling_corrector.ipynb
importing Jupyter notebook from _get_intent.ipynb
importing Jupyter notebook from _get_tag.ipynb

Using TensorFlow backend.
WARNING: Logging before flag parsing goes to stderr.
W1105 15:55:03.148448 18728 deprecation_wrapper.py:119] From c:\users\yunja_kuj61s9\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W1105 15:55:03.172259 18728 deprecation_wrapper.py:119] From c:\users\yunja_kuj61s9\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W1105 15:55:03.191827 18728 deprecation_wrapper.py:119] From c:\users\yunja_kuj61s9\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W1105 15:55:03.490183 18728 deprecation_wrapper.py:119] From c:\users\yunja_kuj61s9\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W1105 15:55:03.500545 18728 deprecation.py:506] From c:\users\yunja_kuj61s9\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
W1105 15:55:03.851185 18728 deprecation.py:323] From c:\users\yunja_kuj61s9\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:2974: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
W1105 15:55:05.023546 18728 deprecation_wrapper.py:119] From c:\users\yunja_kuj61s9\appdata\local\programs\python\python36\lib\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

W1105 15:55:05.320905 18728 deprecation_wrapper.py:119] From c:\users\yunja_kuj61s9\appdata\local\programs\python\python36\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

importing Jupyter notebook from _todatefomat.ipynb
importing Jupyter notebook from _get_view.ipynb

In [2]:
print("the price is won-based")

the price is won-based

In [3]:
'''
user_sent = "sohow me the flgidt from incheno to devner on november 17th"
user_sent = "show me the flight from jeju to gwangju"
user_sent = "on november 17th"
user_input = _correction(user_sent)
user_input
'''

'\nuser_sent = "sohow me the flgidt from incheno to devner on november 17th"\nuser_sent = "show me the flight from jeju to gwangju"\nuser_sent = "on november 17th"\nuser_input = _correction(user_sent)\nuser_input\n'

In [4]:
user_sent = "sohow me the cheaapest flgidt from incheno to houston with a stopover in vancouver on december 14th"
user_sent = "show me the cheapest flight from incheon to berlin on december 5th"
user_input = _correction(user_sent)
user_input

'show me the cheapest flight from incheon to berlin on december 5th'

In [5]:
intent = _get_intent.get_intent(user_input)
intent = ''.join(intent)

In [6]:
intent

'AskFlight, AskFlightWithCost'

In [7]:
df = _get_tag.todf(user_input)
df

        Word                Prediction
0       show                         O
1         me                         O
2        the                         O
3   cheapest           B-cost_relative
4     flight                         O
5       from                         O
6    incheon                B-fromloc
7         to                         O
8     berlin                   B-toloc
9         on                         O
10  december  B-depart_date.month_name
11       5th  B-depart_date.day_number

In [8]:
tagged = _get_tag.get_element(user_input, intent)
element = tagged

In [9]:
#tagged[tagged['tag'].isin(['dpttime'])].element.tolist()[0]==''
tagged

        tag     element
0   airline
1   fromloc     incheon
2   stoploc
3     toloc      berlin
4   dpttime  2019-12-05
5   arrtime
6      cost
7  cheapest           1

In [18]:
second_input = "how about from new york to denver by korean air"
new_sent, element = _get_tag.ellipsis(tagged, user_input, second_input)

In [19]:
element

        tag     element
0   airline  korean air
1   fromloc    new york
2   stoploc
3     toloc      denver
4   dpttime  2019-12-05
5   arrtime
6      cost
7  cheapest           1

In [13]:
new_sent

'show me the cheapest flight from incheon to berlin on december 5th by korean air'

In [14]:
intent = _get_intent.get_intent(new_sent)
intent = ''.join(intent)
intent

'AskFlight, AskFlightWithCost'

In [15]:
e = _get_tag.todf(second_input)
e

     Word      Prediction
0     how               O
1   about               O
2    from               O
3     new      B-fromloc
4    york       I-fromloc
5      to               O
6  denver         B-toloc
7      by               O
8  korean  B-airline_name
9     air  I-airline_name

In [21]:
second_input = "how about from jeju to gwangju"
#second_input = _correction(second_input)
new_sent, element = _get_tag.ellipsis(tagged, user_input, second_input)
element

        tag     element
0   airline
1   fromloc        jeju
2   stoploc
3     toloc     gwangju
4   dpttime  2019-12-05
5   arrtime
6      cost
7  cheapest           1

In [17]:
#결과 df route에 받아오기
route = _get_view.getroute(intent, element, mydb)
route

TypeError: tuple indices must be integers or slices, not str

In [ ]:
route = route.iloc[0]

In [ ]:
route[0]

In [ ]:
print('{} {} {} {} {} {} {} {} {} {} {} {}'.format(route[0],route[1],route[2],route[3],route[4],route[5],route[6],route[7],route[8],route[9],route[10],route[11]))

In [ ]:
route2 = route.drop("stops",1)
route3 = route2.iloc[0]
print(route3[0])

In [ ]:
flight=''
flight = flight + route3[0]
flight = ''.join(route3)
flight = ' '.join(route.element.tolist())

In [ ]:
second_input = "how about from incheon to frankfurt on december 19th"
#second_input = _correction(second_input)
element = _get_tag.ellipsis(element, second_input)
element

In [ ]:
route = _get_view.getroute(intent, element, mydb)
if route==False:
    print("no such flight")
else:
    route